{{!-- We need to make this our own; from MVC mini project --}}
<!-- Loop over each object in the projects array -->
<h2>Coding Tips</h2>
{{#each tips as |tip|}}
<div class="row mb-4 tip">
  <div class="row md-5">
    <h2>
      <a href="/tip/{{tip.id}}">`{{tip.topic}}<br>{{tip.content}}<br>{{tip.user.userName}}<br>Up Votes {{tip.upVote}} DownVotes {{tip.downVote}} `</a>
    </h2>
  </div>
</div>
{{/each}}

<h2>One Coding Tip</h2>
<div class="row mb-4 tip">
  <div class="row md-5">
    <h2>
      <a href="/tip/{{oneTip.id}}">`{{oneTip.topic}}<br>{{oneTip.content}}<br>{{oneTip.user.userName}}<br>Up Votes {{oneTip.upVote}} DownVotes {{oneTip.downVote}} `</a>
    </h2>
  </div>
</div>


<h2>Questions</h2>
{{#each questions as |question| }}
<div class="row mb-4 question">
  <div class="col-md-5">
    <h2>
      <a href="/question/{{question.id}}">`{{question.topic}}<br>{{question.content}}<br>{{question.user.userName}}<br>Up Votes {{question.upVote}} DownVotes {{question.downVote}} `</a>
    </h2>
    <p>
      {{answer.content}}
    </p>
    <p>Created by {{user.userName}}
       {{!-- on {{format_date question.date_created}} --}}
       </p>
  </div>
  <div class="col-md-7">
  </div>
</div>
{{/each}}
