{{!-- We need to make this our own; from MVC mini project --}}
<!-- Loop over each object in the projects array -->

<div class = 'row'>
  <div class="col-md-6">
    <h2>Coding Questions</h2>
    {{#each questions as |question| }}
    <h3>
        <ul class="list-unstyled">
          <li style = "font-size: medium">{{question.topic}}</li>
          <li style="font-size: small">{{question.content}}
            <ul class = 'unicorn'>
              {{#each question.answers as |answer|}}
              <li>{{answer.content}}</li>
              {{/each}}
            </ul>
          </li>
          <li style = 'font-size: medium'>{{question.user.userName}}</li>
          <li style = 'font-size: small'>Up Votes <strong style = 'font-size: medium'>{{question.upVote}} </strong>::: Down Votes <strong style = 'font-size: medium'>{{question.downVote}}</strong></li>
        </ul>
    {{/each}}
  </div>
  <div class="col-md-6">
    <h2>Coding Tips</h2>
      {{#each tips as |tip|}}
        <h3>
          <ul class="list-unstyled">
            <li style = 'font-size:medium'>{{tip.topic}}</li>
            <li style = 'font-size:small'>{{tip.content}}</li>
            <li style = 'font-size:medium'>{{tip.user.userName}}</li>
            <li style = 'font-size: small'>Up Votes <strong style = 'font-size: medium'>{{tip.upVote}} </strong>::: Down Votes <strong style = 'font-size: medium'>{{tip.downVote}}</strong></li>
          </ul>
          {{!-- this is to create a link to the tipID, 
          <a href="/tip/{{tip.id}}">{{tip.topic}}
            <br>{{tip.content}}
            <br>{{tip.user.userName}}
            <br>Up Votes {{tip.upVote}} ::: DownVotes {{tip.downVote}} 
          </a> --}}
        </h3>
      {{/each}}
  </div>
</div>

{{!-- <div class='row'> 
  <div class="col-md-6">
    <h2>One Coding Question</h2>
    <h3>
        <ul class="list-unstyled">
          <li style="font-size:medium">{{oneQuestion.topic}}</li>
          <li style="font-size: small">{{oneQuestion.content}}
            <ul class = 'unicorn'>
              {{#each oneQuestion.answers as |answer|}}
              <li>{{answer.content}}</li>
              {{/each}}
            </ul>
          </li>
          <li style = 'font-size: medium'>{{oneQuestion.user.userName}}</li>
          <li style = 'font-size: small'>Up Votes <strong style = 'font-size: medium'>{{oneQuestion.upVote}} </strong>::: Down Votes <strong style = 'font-size: medium'>{{oneQuestion.downVote}}</strong></li>
        </ul>

    </h3>
  </div>
    <div class="col-md-6">
    <h2>One Coding Tip</h2>
        <h3>
          <ul class="list-unstyled">
            <li style = 'font-size:medium'> {{oneTip.topic}}</li>
            <li style = 'font-size:small'>{{oneTip.content}}</li>
            <li style = 'font-size:medium'>{{oneTip.user.userName}}</li>
            <li style = 'font-size: small'>Up Votes <strong style = 'font-size: medium'>{{oneTip.upVote}} </strong>::: Down Votes <strong style = 'font-size: medium'>{{oneTip.downVote}}</strong></li>
          </ul>
        </h3>

  </div>
</div> --}}
