{{!-- tried to reformat similar to our question.handlebars file, so if we need to update one it should be easy to bring
the changes over to the other --}}

<div>
  <h3>Creating a New Tip:</h3>

  <div class='col'>
    <form class='form new-tip'>
      {{!-- drop down --}}
      <label for='topic'>What topic does your tip cover? Select from the drop down:</label>
      <select id='topic' name='topic'>
        <option value='HTML'>HTML</option>
        <option value='CSS'>CSS</option>
        <option value='JavaScript'>JavaScript</option>
        <option value='Other'>Other</option>
      </select>

      <div class='form-group'>
        <label for='tip-content'>Please enter the title of your new tip here:</label>
        <input class='form-input' type='text' id='tip-content' name='tip-content' />
      </div>

      <div class='form-group'>
        <label for='content'>Enter the content of your new tip here:</label>
        <input class='form-input' type='text' id='tip-content' name='tip-content' />
      </div>

      <div class='form-group'>
        <button type='submit' class='btn btn-create'>Create</button>
      </div>
    </form>
  </div>

  {{!-- this will show the tips submitted by the user along with upvotes/downvotes and giving the user the option to
  delete a tip --}}
  {{#if tips.length}}
  <div class='col tips'></div>
  <h3>Tips you have submitted</h3>
  {{#each tips as |tip|}}
  <div class='row'>
    <div class='col'>
      <h4>Topic: <a ref='/tips/{{tip.id}}.'>{{tip.topic}}</a></h4>
      <h5>Content: <a ref='/tips/{{tip.id}}.'>{{tip.content}}</a></h5>
      <ul>
        <li>Upvotes: <a ref='/tips/{{tip.id}}.'>{{tip.upvote}}</a></li>
        <li>Downvotes: <a ref='/tips/{{tip.id}}.'>{{tip.downvote}}</a></li>
        {{!-- remove coloring once we have the CSS finalized --}}
        <li><button class="btn btn-delete" data-id="{{tip.id}}" style="color: white">DELETE</button></li>
      </ul>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>